<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Stats</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div style="width:100%;">
<canvas id="myChart"></canvas>
</div>

<script th:inline="javascript">
/*<![CDATA[*/
var evaluations = /*[[${stats}]]*/;
var evaluationsDate = [];
var evaluationsVal = [];

for(var i = 0; i< evaluations.length; i++) {
evaluationsDate[i] = evaluations[i].student.surname;
evaluationsVal[i] = evaluations[i].evaluation;
}

/*]]>*/

var ctx = document.getElementById('myChart').getContext('2d');

var data = {
			labels: evaluationsDate,
			datasets: [{
				data: evaluationsVal,
				backgroundColor: Chart.helpers.color('#4dc9f6').alpha(0.2).rgbString(),
				borderColor: '#4dc9f6',
			}]
		};


var options = {
			legend: false,
			tooltips: true,
			elements: {
				point: {
					hoverRadius: 15,
				}
			}
		};

var chart = new Chart(ctx, {
			type: 'radar',
			data: data,
			options: options
		});

</script>
